<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.migration.title}">Esito applicazione DBFix</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.firstName})}">
            Ciao
        </p>
         <p th:text="#{email.migration.intro}">
            di seguito il report di esecuzione relativo a:
            
        </p>
        <p th:text="#{email.migration.env(${dbEnv.envType})}">
            Ambiente: 
        </p>
        <p th:text="#{email.migration.patchset(${activity.version},${activity.scriptName})}">
            Patchset: 
        </p>
        <p th:text="#{email.migration.output(${activity.outcome})}">
            Esito: 
        </p>
        <p th:text="#{email.migration.details}">
            Dettagli:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/migration/${activity.id}|}"
               th:text="@{|${baseUrl}/#/migration/${activity.id}|}">Link alla pagina</a>
        </p>
        
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">DbFixer.</em>
        </p>
    </body>
</html>
