
<div *ngIf="tomcatEnv">
    <h2><span jhiTranslate="dbFixerApp.tomcatEnv.detail.title">Tomcat Env</span> {{tomcatEnv.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dbFixerApp.tomcatEnv.envType">Env Type</span></dt>
        <dd>
            <span jhiTranslate="{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.' + tomcatEnv.envType}}">{{tomcatEnv.envType}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.tomcatEnv.hostname">Hostname</span></dt>
        <dd>
            <span>{{tomcatEnv.hostname}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.tomcatEnv.httpPort">Http Port</span></dt>
        <dd>
            <span>{{tomcatEnv.httpPort}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.tomcatEnv.httpsPort">Https Port</span></dt>
        <dd>
            <span>{{tomcatEnv.httpsPort}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.tomcatEnv.debugPort">Debug Port</span></dt>
        <dd>
            <span>{{tomcatEnv.debugPort}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.tomcatEnv.contextRoot">Context Root</span></dt>
        <dd>
            <span>{{tomcatEnv.contextRoot}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.tomcatEnv.product">Product</span></dt>
        <dd>
            <div *ngIf="tomcatEnv.product">
                <a [routerLink]="['/product', tomcatEnv.product?.id]">{{tomcatEnv.product?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tomcat-env/'+ tomcatEnv.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
