<div>
    <h2>
        <span jhiTranslate="dbFixerApp.tomcatEnv.home.title">Tomcat Envs</span>
        <button class="btn btn-primary float-right jh-create-entity create-tomcat-env" [routerLink]="['/', { outlets: { popup: ['tomcat-env-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dbFixerApp.tomcatEnv.home.createLabel">
            Create new Tomcat Env
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tomcatEnvs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="envType"><span jhiTranslate="dbFixerApp.tomcatEnv.envType">Env Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hostname"><span jhiTranslate="dbFixerApp.tomcatEnv.hostname">Hostname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="httpPort"><span jhiTranslate="dbFixerApp.tomcatEnv.httpPort">Http Port</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="httpsPort"><span jhiTranslate="dbFixerApp.tomcatEnv.httpsPort">Https Port</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="debugPort"><span jhiTranslate="dbFixerApp.tomcatEnv.debugPort">Debug Port</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contextRoot"><span jhiTranslate="dbFixerApp.tomcatEnv.contextRoot">Context Root</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="product.id"><span jhiTranslate="dbFixerApp.tomcatEnv.product">Product</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tomcatEnv of tomcatEnvs ;trackBy: trackId">
                <td><a [routerLink]="['../tomcat-env', tomcatEnv.id ]">{{tomcatEnv.id}}</a></td>
                <td jhiTranslate="{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.' + tomcatEnv.envType}}">{{tomcatEnv.envType}}</td>
                <td>{{tomcatEnv.hostname}}</td>
                <td>{{tomcatEnv.httpPort}}</td>
                <td>{{tomcatEnv.httpsPort}}</td>
                <td>{{tomcatEnv.debugPort}}</td>
                <td>{{tomcatEnv.contextRoot}}</td>
                <td>
                    <div *ngIf="tomcatEnv.product">
                        <a [routerLink]="['../product', tomcatEnv.product?.id ]" >{{tomcatEnv.product?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tomcat-env', tomcatEnv.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tomcat-env/'+ tomcatEnv.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tomcat-env/'+ tomcatEnv.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
