
<div *ngIf="migration">
    <h2><span jhiTranslate="dbFixerApp.migration.detail.title">Migration</span> {{migration.version}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dbFixerApp.migration.id">Id</span></dt>
        <dd>
            <span>{{migration.id}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.migration.buildId">BuildId</span></dt>
        <dd>
            <span>{{migration.buildId}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.migration.targetEnvType">EnvType</span></dt>
        <dd>
            <span>{{migration.targetEnvType}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.migration.customerId">CustomerId</span></dt>
        <dd>
            <span>{{migration.customerName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.migration.productId">ProductId</span></dt>
        <dd>
            <span>{{migration.productName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.migration.version">Version</span></dt>
        <dd>
            <span>{{migration.version}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.migration.actType">ActionType</span></dt>
        <dd>
            <span>{{migration.actType}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.migration.description">Description</span></dt>
        <dd>
            <span>{{migration.description}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.migration.scriptName">ScriptName</span></dt>
        <dd>
            <span>{{migration.scriptName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.migration.author">Author</span></dt>
        <dd>
            <span>{{migration.author}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.migration.username">Username</span></dt>
        <dd>
            <span>{{migration.username}}</span>
        </dd>       
        <dt><span jhiTranslate="dbFixerApp.migration.applyDate">ApplyDate</span></dt>
        <dd>
            <span>{{migration.applyDate}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.migration.execTime">ExecTime</span></dt>
        <dd>
            <span>{{migration.execTime}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.migration.log">Log</span></dt>
        <dd>
            <span>{{migration.log}}</span>
        </dd>
         <dt><span jhiTranslate="dbFixerApp.migration.success">Success</span></dt>
        <dd>
            <span>{{migration.success}}</span>
        </dd>      
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

</div>
