<div>
    <h2>
        <span jhiTranslate="dbFixerApp.migration.home.title">Logs</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="migrations">
        <table class="table table-striped">
            <thead>
	            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
	            	<th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span><input type="text" class="form-control" name="id" id="field_id" /></th>
	            	<th jhiSortBy="buildId"><span jhiTranslate="dbFixerApp.migration.buildId">BuildID</span> <span class="fa fa-sort"></span><input type="text" class="form-control" name="buildId" id="filter_buildId" /></th>
	            	<th jhiSortBy="targetEnvType"><span jhiTranslate="dbFixerApp.migration.targetEnvType">EnvType</span> <span class="fa fa-sort"></span><input type="text" class="form-control" name="targetEnvType" id="filter_targetEnvType" /></th>
	            	<th jhiSortBy="customerName"><span jhiTranslate="dbFixerApp.migration.customerName">Customer</span> <span class="fa fa-sort"></span><input type="text" class="form-control" name="customerName" id="filter_customerName" /></th>
	            	<th jhiSortBy="productName"><span jhiTranslate="dbFixerApp.migration.productName">Product</span> <span class="fa fa-sort"></span><input type="text" class="form-control" name="productName" id="filter_productName" /></th>
	            	<th jhiSortBy="version"><span jhiTranslate="dbFixerApp.migration.version">Version</span> <span class="fa fa-sort"></span><input type="text" class="form-control" name="version" id="filter_version" /></th>                   
	            	<th jhiSortBy="scriptName"><span jhiTranslate="dbFixerApp.migration.actType">ActionType</span> <span class="fa fa-sort"></span><input type="text" class="form-control" name="actType" id="filter_actType" /></th>
	            	<th jhiSortBy="scriptName"><span jhiTranslate="dbFixerApp.migration.scriptName">ScriptName</span> <span class="fa fa-sort"></span><input type="text" class="form-control" name="scriptName" id="filter_scriptName" /></th>
	            	<th jhiSortBy="scriptName"><span jhiTranslate="dbFixerApp.migration.success">Status</span> <span class="fa fa-sort"></span><input type="text" class="form-control" name="success" id="filter_success" /></th>
	            	<th></th>
	            </tr>
	           <!--   <tr>
	            	<th><input type="text" class="form-control" name="name" id="field_name" /></th>
	            	<th></th>
	            	<th></th>
	            	<th></th>
	            	<th></th>
	            	<th></th>
	            	<th></th>
	            	<th></th>
	            	<th></th>
	            	<th></th>
	            </tr> -->
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let migration of migrations ;trackBy: trackId">
                <td><a [routerLink]="['../migration', migration.id ]">{{migration.id}}</a></td>
                <td>{{migration.buildId}}</td>
                <td>{{migration.targetEnvType}}</td>
                <td>{{migration.customerName}}</td>
                <td>{{migration.productName}}</td>
                <td>{{migration.version}}</td>
                <td>{{migration.actType}}</td>
                <td>{{migration.scriptName}}</td>
                <td>{{migration.success}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../migration', migration.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>                       
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
