
<div *ngIf="wildflyEnv">
    <h2><span jhiTranslate="dbFixerApp.wildflyEnv.detail.title">Wildfly Env</span> {{wildflyEnv.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dbFixerApp.wildflyEnv.envType">Env Type</span></dt>
        <dd>
            <span jhiTranslate="{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.' + wildflyEnv.envType}}">{{wildflyEnv.envType}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.wildflyEnv.hostname">Hostname</span></dt>
        <dd>
            <span>{{wildflyEnv.hostname}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.wildflyEnv.httpPort">Http Port</span></dt>
        <dd>
            <span>{{wildflyEnv.httpPort}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.wildflyEnv.httpsPort">Https Port</span></dt>
        <dd>
            <span>{{wildflyEnv.httpsPort}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.wildflyEnv.debugPort">Debug Port</span></dt>
        <dd>
            <span>{{wildflyEnv.debugPort}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.wildflyEnv.contextRoot">Context Root</span></dt>
        <dd>
            <span>{{wildflyEnv.contextRoot}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.wildflyEnv.product">Product</span></dt>
        <dd>
            <div *ngIf="wildflyEnv.product">
                <a [routerLink]="['/product', wildflyEnv.product?.id]">{{wildflyEnv.product?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wildfly-env/'+ wildflyEnv.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
