<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myWildflyEnvLabel" jhiTranslate="dbFixerApp.wildflyEnv.home.createOrEditLabel">Create or edit a Wildfly Env</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!wildflyEnv.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="wildflyEnv.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.wildflyEnv.envType" for="field_envType">Env Type</label>
            <select class="form-control" name="envType" [(ngModel)]="wildflyEnv.envType" id="field_envType"  required>
                <option value="DEV">{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.DEV' | translate}}</option>
                <option value="CI">{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.CI' | translate}}</option>
                <option value="CQ">{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.CQ' | translate}}</option>
                <option value="PREPROD">{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.PREPROD' | translate}}</option>
                <option value="PROD">{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.PROD' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.envType?.dirty && editForm.controls.envType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.envType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.wildflyEnv.hostname" for="field_hostname">Hostname</label>
            <input type="text" class="form-control" name="hostname" id="field_hostname"
                [(ngModel)]="wildflyEnv.hostname" required />
            <div [hidden]="!(editForm.controls.hostname?.dirty && editForm.controls.hostname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.hostname?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.wildflyEnv.httpPort" for="field_httpPort">Http Port</label>
            <input type="number" class="form-control" name="httpPort" id="field_httpPort"
                [(ngModel)]="wildflyEnv.httpPort" required />
            <div [hidden]="!(editForm.controls.httpPort?.dirty && editForm.controls.httpPort?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.httpPort?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.httpPort?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.wildflyEnv.httpsPort" for="field_httpsPort">Https Port</label>
            <input type="number" class="form-control" name="httpsPort" id="field_httpsPort"
                [(ngModel)]="wildflyEnv.httpsPort"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.wildflyEnv.debugPort" for="field_debugPort">Debug Port</label>
            <input type="number" class="form-control" name="debugPort" id="field_debugPort"
                [(ngModel)]="wildflyEnv.debugPort"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.wildflyEnv.contextRoot" for="field_contextRoot">Context Root</label>
            <input type="text" class="form-control" name="contextRoot" id="field_contextRoot"
                [(ngModel)]="wildflyEnv.contextRoot"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.wildflyEnv.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="wildflyEnv.product" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id === wildflyEnv.product?.id ? wildflyEnv.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
