<div>
    <h2>
        <span jhiTranslate="dbFixerApp.wildflyEnv.home.title">Wildfly Envs</span>
        <button class="btn btn-primary float-right jh-create-entity create-wildfly-env" [routerLink]="['/', { outlets: { popup: ['wildfly-env-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dbFixerApp.wildflyEnv.home.createLabel">
            Create new Wildfly Env
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="wildflyEnvs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="envType"><span jhiTranslate="dbFixerApp.wildflyEnv.envType">Env Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hostname"><span jhiTranslate="dbFixerApp.wildflyEnv.hostname">Hostname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="httpPort"><span jhiTranslate="dbFixerApp.wildflyEnv.httpPort">Http Port</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="httpsPort"><span jhiTranslate="dbFixerApp.wildflyEnv.httpsPort">Https Port</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="debugPort"><span jhiTranslate="dbFixerApp.wildflyEnv.debugPort">Debug Port</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contextRoot"><span jhiTranslate="dbFixerApp.wildflyEnv.contextRoot">Context Root</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="product.id"><span jhiTranslate="dbFixerApp.wildflyEnv.product">Product</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let wildflyEnv of wildflyEnvs ;trackBy: trackId">
                <td><a [routerLink]="['../wildfly-env', wildflyEnv.id ]">{{wildflyEnv.id}}</a></td>
                <td jhiTranslate="{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.' + wildflyEnv.envType}}">{{wildflyEnv.envType}}</td>
                <td>{{wildflyEnv.hostname}}</td>
                <td>{{wildflyEnv.httpPort}}</td>
                <td>{{wildflyEnv.httpsPort}}</td>
                <td>{{wildflyEnv.debugPort}}</td>
                <td>{{wildflyEnv.contextRoot}}</td>
                <td>
                    <div *ngIf="wildflyEnv.product">
                        <a [routerLink]="['../product', wildflyEnv.product?.id ]" >{{wildflyEnv.product?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../wildfly-env', wildflyEnv.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'wildfly-env/'+ wildflyEnv.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'wildfly-env/'+ wildflyEnv.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
