<div>
    <h2>
        <span jhiTranslate="dbFixerApp.oracleDbEnv.home.title">Oracle Db Envs</span>
        <button class="btn btn-primary float-right jh-create-entity create-oracle-db-env" [routerLink]="['/', { outlets: { popup: ['oracle-db-env-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dbFixerApp.oracleDbEnv.home.createLabel">
            Create new Oracle Db Env
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="oracleDbEnvs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="envType"><span jhiTranslate="dbFixerApp.oracleDbEnv.envType">Env Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="env_desc"><span jhiTranslate="dbFixerApp.oracleDbEnv.env_desc">Env Desc</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hostname"><span jhiTranslate="dbFixerApp.oracleDbEnv.hostname">Hostname</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="listenerPort"><span jhiTranslate="dbFixerApp.oracleDbEnv.listenerPort">Listener Port</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user"><span jhiTranslate="dbFixerApp.oracleDbEnv.user">User</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pwd"><span jhiTranslate="dbFixerApp.oracleDbEnv.pwd">Pwd</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="syspwd"><span jhiTranslate="dbFixerApp.oracleDbEnv.syspwd">Sys Pwd</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sid"><span jhiTranslate="dbFixerApp.oracleDbEnv.sid">Sid</span> <span class="fa fa-sort"></span></th>                
            <th jhiSortBy="product.id"><span jhiTranslate="dbFixerApp.oracleDbEnv.product">Product</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let oracleDbEnv of oracleDbEnvs ;trackBy: trackId">
                <td><a [routerLink]="['../oracle-db-env', oracleDbEnv.id ]">{{oracleDbEnv.id}}</a></td>
                <td jhiTranslate="{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.' + oracleDbEnv.envType}}">{{oracleDbEnv.envType}}</td>
                <td>{{oracleDbEnv.env_desc}}</td>
                <td>{{oracleDbEnv.hostname}}</td>
                <td>{{oracleDbEnv.listenerPort}}</td>
                <td>{{oracleDbEnv.user}}</td>
                <td>{{oracleDbEnv.pwd}}</td>
                <td>{{oracleDbEnv.syspwd}}</td>
                <td>{{oracleDbEnv.sid}}</td>
                <td>
                    <div *ngIf="oracleDbEnv.product">
                        <a [routerLink]="['../product', oracleDbEnv.product?.id ]" >{{oracleDbEnv.product?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../oracle-db-env', oracleDbEnv.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'oracle-db-env/'+ oracleDbEnv.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'oracle-db-env/'+ oracleDbEnv.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
