
<div *ngIf="oracleDbEnv">
    <h2><span jhiTranslate="dbFixerApp.oracleDbEnv.detail.title">Oracle Db Env</span> {{oracleDbEnv.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dbFixerApp.oracleDbEnv.envType">Env Type</span></dt>
        <dd>
            <span jhiTranslate="{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.' + oracleDbEnv.envType}}">{{oracleDbEnv.envType}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.oracleDbEnv.hostname">Hostname</span></dt>
        <dd>
            <span>{{oracleDbEnv.hostname}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.oracleDbEnv.listenerPort">Listener Port</span></dt>
        <dd>
            <span>{{oracleDbEnv.listenerPort}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.oracleDbEnv.user">User</span></dt>
        <dd>
            <span>{{oracleDbEnv.user}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.oracleDbEnv.pwd">Pwd</span></dt>
        <dd>
            <span>{{oracleDbEnv.pwd}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.oracleDbEnv.syspwd">Sys Pwd</span></dt>
        <dd>
            <span>{{oracleDbEnv.syspwd}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.oracleDbEnv.sid">Sid</span></dt>
        <dd>
            <span>{{oracleDbEnv.sid}}</span>
        </dd>
        
        <dt><span jhiTranslate="dbFixerApp.oracleDbEnv.product">Product</span></dt>
        <dd>
            <div *ngIf="oracleDbEnv.product">
                <a [routerLink]="['/product', oracleDbEnv.product?.id]">{{oracleDbEnv.product?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'oracle-db-env/'+ oracleDbEnv.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
