<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOracleDbEnvLabel" jhiTranslate="dbFixerApp.oracleDbEnv.home.createOrEditLabel">Create or edit a Oracle Db Env</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!oracleDbEnv.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="oracleDbEnv.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.oracleDbEnv.envType" for="field_envType">Env Type</label>
            <select class="form-control" name="envType" [(ngModel)]="oracleDbEnv.envType" id="field_envType"  required>
                <option value="DEV">{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.DEV' | translate}}</option>
                <option value="CI">{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.CI' | translate}}</option>
                <option value="CQ">{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.CQ' | translate}}</option>
                <option value="PREPROD">{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.PREPROD' | translate}}</option>
                <option value="PROD">{{'dbFixerApp.DEPLOYMENT_ENV_TYPE.PROD' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.envType?.dirty && editForm.controls.envType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.envType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.oracleDbEnv.env_desc" for="field_hostname">Env Desc</label>
            <input type="text" class="form-control" name="env_desc" id="field_env_desc"
                [(ngModel)]="oracleDbEnv.env_desc" required />
            <div [hidden]="!(editForm.controls.env_desc?.dirty && editForm.controls.env_desc?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.env_desc?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.oracleDbEnv.hostname" for="field_hostname">Hostname</label>
            <input type="text" class="form-control" name="hostname" id="field_hostname"
                [(ngModel)]="oracleDbEnv.hostname" required />
            <div [hidden]="!(editForm.controls.hostname?.dirty && editForm.controls.hostname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.hostname?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.oracleDbEnv.listenerPort" for="field_listenerPort">Listener Port</label>
            <input type="number" class="form-control" name="listenerPort" id="field_listenerPort"
                [(ngModel)]="oracleDbEnv.listenerPort" required />
            <div [hidden]="!(editForm.controls.listenerPort?.dirty && editForm.controls.listenerPort?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.listenerPort?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.listenerPort?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.oracleDbEnv.user" for="field_user">User</label>
            <input type="text" class="form-control" name="user" id="field_user"
                [(ngModel)]="oracleDbEnv.user" required />
            <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.oracleDbEnv.pwd" for="field_pwd">Pwd</label>
            <input type="text" class="form-control" name="pwd" id="field_pwd"
                [(ngModel)]="oracleDbEnv.pwd" required />
            <div [hidden]="!(editForm.controls.pwd?.dirty && editForm.controls.pwd?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.pwd?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        
         <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.oracleDbEnv.syspwd" for="field_syspwd">Sys Pwd</label>
            <input type="text" class="form-control" name="syspwd" id="field_syspwd"
                [(ngModel)]="oracleDbEnv.syspwd"  />
        </div>
        
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.oracleDbEnv.sid" for="field_sid">Sid</label>
            <input type="text" class="form-control" name="sid" id="field_sid"
                [(ngModel)]="oracleDbEnv.sid" required />
            <div [hidden]="!(editForm.controls.sid?.dirty && editForm.controls.sid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.sid?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        
         <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.oracleDbEnv.patchsetdbrepourl" for="field_patchsetdbrepourl">Repo URL</label>
            <input type="text" class="form-control" name="patchsetdbrepourl" id="field_patchsetdbrepourl"
                [(ngModel)]="oracleDbEnv.patchsetdbrepourl" required />
            <div [hidden]="!(editForm.controls.patchsetdbrepourl?.dirty && editForm.controls.patchsetdbrepourl?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.patchsetdbrepourl?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.oracleDbEnv.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="oracleDbEnv.product" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id === oracleDbEnv.product?.id ? oracleDbEnv.product : productOption" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
