<div>
    <h2>
        <span jhiTranslate="dbFixerApp.alias.home.title">Alias</span>
        <button class="btn btn-primary float-right jh-create-entity create-alias" [routerLink]="['/', { outlets: { popup: ['alias-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="dbFixerApp.alias.home.createLabel">
            Create new Alias
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="aliass">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dbEnvId"><span jhiTranslate="dbFixerApp.alias.dbEnvId">DbEnvId</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="commSchemaName"><span jhiTranslate="dbFixerApp.alias.commSchemaName">COMM</span> <span class="fa fa-sort"></span></th>
			<th jhiSortBy="coreSchemaName"><span jhiTranslate="dbFixerApp.alias.coreSchemaName">CORE</span> <span class="fa fa-sort"></span></th>
			<th jhiSortBy="puSchemaName"><span jhiTranslate="dbFixerApp.alias.puSchemaName">PU</span> <span class="fa fa-sort"></span></th>	
			<th jhiSortBy="dccSchemaName"><span jhiTranslate="dbFixerApp.alias.dccSchemaName">DCC</span> <span class="fa fa-sort"></span></th>		
            <th jhiSortBy="inteSchemaName"><span jhiTranslate="dbFixerApp.alias.inteSchemaName">INTEGRATION</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="shareSchemaName"><span jhiTranslate="dbFixerApp.alias.shareSchemaName">COMMON</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mntrSchemaName"><span jhiTranslate="dbFixerApp.alias.mntrSchemaName">MONITOR</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="schdSchemaName"><span jhiTranslate="dbFixerApp.alias.schdSchemaName">SCHEDULER</span> <span class="fa fa-sort"></span></th>
           
            <!--<th jhiSortBy="divuSchemaName"><span jhiTranslate="dbFixerApp.alias.divuSchemaName">DIVU</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="logiSchemaName"><span jhiTranslate="dbFixerApp.alias.logiSchemaName">LOGI</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="archSchemaName"><span jhiTranslate="dbFixerApp.alias.archSchemaName">ARCHIVIAZIONE</span> <span class="fa fa-sort"></span></th>
            -->
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let alias of aliass ;trackBy: trackId">
                <td><a [routerLink]="['../alias', alias.id ]">{{alias.id}}</a></td>
                <td>{{alias.dbEnvId}}</td>
                <td>{{alias.commSchemaName}}</td>
                <td>{{alias.coreSchemaName}}</td> 
                <td>{{alias.puSchemaName}}</td>
                <td>{{alias.dccSchemaName}}</td>
                <td>{{alias.inteSchemaName}}</td>
                <td>{{alias.shareSchemaName}}</td>
                <td>{{alias.mntrSchemaName}}</td>
                <td>{{alias.schdSchemaName}}</td>
                <!--<td>{{alias.divuSchemaName}}</td>
                <td>{{alias.logiSchemaName}}</td>
                <td>{{alias.archSchemaName}}</td>-->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../alias', alias.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alias/'+ alias.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'alias/'+ alias.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
