
<div *ngIf="alias">
    <h2><span jhiTranslate="dbFixerApp.alias.detail.title">Alias</span> {{alias.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
    	<dt><span jhiTranslate="dbFixerApp.alias.dbEnvId">DbEnv ID</span></dt>
        <dd>
            <span>{{alias.dbEnvId}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.commSchemaName">COMM</span></dt>
        <dd>
            <span>{{alias.commSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.coreSchemaName">CORE</span></dt>
        <dd>
            <span>{{alias.coreSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.puSchemaName">PU</span></dt>
        <dd>
            <span>{{alias.puSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.dccSchemaName">DCC</span></dt>
        <dd>
            <span>{{alias.dccSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.inteSchemaName">INTEGRAZIONE</span></dt>
        <dd>
            <span>{{alias.inteSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.shareSchemaName">COMMON</span></dt>
        <dd>
            <span>{{alias.shareSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.mntrSchemaName">MONITOR</span></dt>
        <dd>
            <span>{{alias.mntrSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.schdSchemaName">SCHEDULER</span></dt>
        <dd>
            <span>{{alias.schdSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.divuSchemaName">DIVU</span></dt>
        <dd>
            <span>{{alias.divuSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.logiSchemaName">LOGI</span></dt>
        <dd>
            <span>{{alias.logiSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.archSchemaName">ARCHIVIAZIONE</span></dt>
        <dd>
            <span>{{alias.archSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.ecomSchemaName">E-COMMERCE</span></dt>
        <dd>
            <span>{{alias.ecomSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.cowSchemaName">PREMIA</span></dt>
        <dd>
            <span>{{alias.cowSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.pengSchemaName">PROMO ENGINE</span></dt>
        <dd>
            <span>{{alias.pengSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.camiSchemaName">CAMI</span></dt>
        <dd>
            <span>{{alias.camiSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.ibcSchemaName">IBC</span></dt>
        <dd>
            <span>{{alias.ibcSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.fbdcSchemaName">FBDC</span></dt>
        <dd>
            <span>{{alias.fbdcSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.wstSchemaName">WST</span></dt>
        <dd>
            <span>{{alias.wstSchemaName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.alias.scmsoSchemaName">SCMSO</span></dt>
        <dd>
            <span>{{alias.scmsoSchemaName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'alias/'+ alias.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
