<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAliasLabel" jhiTranslate="dbFixerApp.alias.home.createOrEditLabel">Create or edit a Alias</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!alias.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="alias.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.dbEnvId" for="field_dbEnvId">DbEnv ID</label>
            <input type="text" class="form-control" name="dbEnvId" id="field_dbEnvId"
                [(ngModel)]="alias.dbEnvId"/>        
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.commSchemaName" for="field_comm">COMM</label>
            <input type="text" class="form-control" name="comm" id="field_comm"
                [(ngModel)]="alias.commSchemaName"/>        
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.coreSchemaName" for="field_core">CORE</label>
            <input type="text" class="form-control" name="core" id="field_core"
                [(ngModel)]="alias.coreSchemaName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.puSchemaName" for="field_pu">PU</label>
            <input type="text" class="form-control" name="pu" id="field_pu"
                [(ngModel)]="alias.puSchemaName"  />
        </div>
         <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.dccSchemaName" for="field_dcc">DCC</label>
            <input type="text" class="form-control" name="dcc" id="field_dcc"
                [(ngModel)]="alias.dccSchemaName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.inteSchemaName" for="field_inteSchemaName">INTEGRAZIONE</label>
            <input type="text" class="form-control" name="inte" id="field_inteSchemaName"
                [(ngModel)]="alias.inteSchemaName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.shareSchemaName" for="field_shareSchemaName">COMMON</label>
            <input type="text" class="form-control" name="share" id="field_shareSchemaName"
                [(ngModel)]="alias.shareSchemaName"  />
        </div>
		<div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.mntrSchemaName" for="field_mntrSchemaName">MONITOR</label>
            <input type="text" class="form-control" name="mntr" id="field_mntrSchemaName"
                [(ngModel)]="alias.mntrSchemaName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.schdSchemaName" for="field_schdSchemaName">SCHEDULER</label>
            <input type="text" class="form-control" name="schd" id="field_schdSchemaName"
                [(ngModel)]="alias.schdSchemaName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.divuSchemaName" for="field_divuSchemaName">DIVU</label>
            <input type="text" class="form-control" name="divu" id="field_divuSchemaName"
                [(ngModel)]="alias.divuSchemaName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.logiSchemaName" for="field_logiSchemaName">LOGI</label>
            <input type="text" class="form-control" name="logi" id="field_logiSchemaName"
                [(ngModel)]="alias.logiSchemaName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.archSchemaName" for="field_archSchemaName">ARCHIVIAZIONE</label>
            <input type="text" class="form-control" name="arch" id="field_archSchemaName"
                [(ngModel)]="alias.archSchemaName"  />
        </div>
         <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.ecomSchemaName" for="field_ecomSchemaName">E-COMMERCE</label>
            <input type="text" class="form-control" name="ecom" id="field_ecomSchemaName"
                [(ngModel)]="alias.ecomSchemaName"  />
        </div>
         <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.cowSchemaName" for="field_cowSchemaName">PREMIA</label>
            <input type="text" class="form-control" name="cow" id="field_cowSchemaName"
                [(ngModel)]="alias.cowSchemaName"  />
        </div>
         <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.pengSchemaName" for="field_pengSchemaName">PROMO ENGINE</label>
            <input type="text" class="form-control" name="arch" id="field_pengSchemaName"
                [(ngModel)]="alias.pengSchemaName"  />
        </div>
         <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.camiSchemaName" for="field_camiSchemaName">CAMI</label>
            <input type="text" class="form-control" name="cami" id="field_camiSchemaName"
                [(ngModel)]="alias.camiSchemaName"  />
        </div>
         <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.ibcSchemaName" for="field_ibcSchemaName">IBC</label>
            <input type="text" class="form-control" name="ibc" id="field_ibcSchemaName"
                [(ngModel)]="alias.ibcSchemaName"  />
        </div>
         <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.fbdcSchemaName" for="field_fbdcSchemaName">FBDC</label>
            <input type="text" class="form-control" name="fbdc" id="field_fbdcSchemaName"
                [(ngModel)]="alias.fbdcSchemaName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.wstSchemaName" for="field_wstSchemaName">WST</label>
            <input type="text" class="form-control" name="wst" id="field_wstSchemaName"
                [(ngModel)]="alias.wstSchemaName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="dbFixerApp.alias.scmsoSchemaName" for="field_scmsoSchemaName">SCMSO</label>
            <input type="text" class="form-control" name="smcso" id="field_scmsoSchemaName"
                [(ngModel)]="alias.scmsoSchemaName"  />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
