<p-growl [(value)]="msgs"></p-growl>
<div>
    <h2>
        <span jhiTranslate="dbFixerApp.operation.home.title">Operazioni</span>
    </h2>
    <jhi-alert></jhi-alert>    
</div>
<p-panel #pnl header="Panel Header">
	</br></br>
	<div class="ui-g">
    	<div class="ui-g-4">
    		<div class="form-group">
	    		<label style="font-weight:bold">PRODOTTO</label>
	    		</br>
			    <select (change)="filterAmbientiAndVersioni($event.target.value)" [(ngModel)]="selectedProdotto">
			        <option value="">--Seleziona un prodotto...--</option>
			        <option *ngFor="let prodotto of prodotti" value={{prodotto.id}}>
	            		{{prodotto.name}}
	        		</option>
			    </select>
		    </div>
    	</div>
    	<div class="ui-g-4">
    		<div class="form-group">
	    		<label style="font-weight:bold">AMBIENTE</label>
	    		</br>
			    <select [(ngModel)]="selectedAmbiente">		
			    	<option value="">--Seleziona un ambiente...--</option>    
			        <option *ngFor="let ambiente of ambienti" value={{ambiente.envType}}>
	            		{{ambiente.env_desc}}
	        		</option>
			    </select>
			    </div>
    	</div>
    	<div class="ui-g-4">
    		<div class="form-group">
	    		<label style="font-weight:bold">VERSIONE</label>
	    		</br>
			    <select [(ngModel)]="selectedVersione">
			    	<option value="">--Seleziona una versione...--</option>
			        <option *ngFor="let versione of versioni" value={{versione.name}}>
	            		{{versione.name}}
	        		</option>
			    </select>
		    </div>
    	</div>
	</div>
	</br></br></br></br></br>
	<div class="ui-g">  	
    		<div class="ui-g-4">
    			<div class="form-group">
		    		<label style="font-weight:bold">OPERAZIONE</label>
		    		</br>
				    <select (change)="onChangeOperazione($event.target.value)" [(ngModel)]="selectedOperazione">				      
				       <option value="">--Seleziona un'operazione...--</option>
				       <option *ngFor="let operazione of operazioni" value={{operazione.id}}>
		            		{{operazione.name}}
		        		</option>
				    </select>
				</div>
    		</div>	
    		<div class="ui-g-4">
    			<div class="form-group" [style.display]="displayFgTipoAggiornamento ? 'block' : 'none'" >
		    		<label style="font-weight:bold">TIPO AGGIORNAMENTO</label>
		    		</br>
				    <select (change)="onChangeTipoAggiornamento($event.target.value)" [(ngModel)]="selectedTipoAggiornamento">			        
				        <option value="">--Seleziona un Tipo Aggiornamento...--</option>
				        <option value="1">SINGOLO</option>
				        <option value="2">MASSIVO</option>
				    </select>
			    </div>
    		</div>
    		<div class="ui-g-4">
	    	<div class="form-group" [style.display]="displayFgSingleUpdate ? 'block' : 'none'" >
	    		<label class="form-control-label" for="patchId">Patch ID:</label>
	    		<input type="text" id="patchId" name="patchId" [(ngModel)]="patchId" >
	    	</div>
	    	<div class="form-group" [style.display]="displayFgSingleUpdate ? 'block' : 'none'">
	    		<label class="form-control-label">Metadata Only:</label>
	    		<input type="checkbox" id="metadataOnly" name="metadataOnly" [(ngModel)]="metadataOnly">
	    	</div>
	    	<div class="form-group" [style.display]="displayFgTagVersion ? 'block' : 'none'">
	    		<label class="form-control-label">Tag Name:</label>
	    		<input type="text" id="tagName" name="tagName" [(ngModel)]="tagName">
	    	</div>
	    	<div class="form-group" [style.display]="displayFgFix ? 'block' : 'none'">
	    		<label class="form-control-label">Activity version:</label>
	    		<input type="text" id="activityName" name="activityName" [(ngModel)]="activityName">
	    	</div>
	    </div>		
	</div>
	</br></br></br>
	<div class="ui-g">
	    <div class="ui-g-4">
	        <button type="submit" class="btn btn-info btn-sm" (click)="handleOperation()" [disabled]="blockedDocument">
	           <span class="fa fa-eye"></span>
	           <span class="hidden-md-down">GO!</span>
	        </button>                           	
		</div>
		
		<div class="ui-g-4"></div>
		<div class="ui-g-4"></div>
		<div class="ui-g-4"></div>
	</div>
	</br></br>
	<label class="form-control-label" [style.display]="displayRunningMessage ? 'block' : 'none'">Sto processando la richiesta...</label>
	<label class="form-control-label" [style.display]="displaySuccessMessage ? 'block' : 'none'">Operazione eseguita con successo. Consulta <a href="#/migration2">lo storico per maggiori info</a>.</label>
	<label class="form-control-label" [style.display]="displayFailureMessage ? 'block' : 'none'">Si è verificato un errore. Consulta <a href="#/migration2">lo storico per maggiori info</a>.</label>
	<label class="form-control-label" [style.display]="displayGenericFailureMessage ? 'block' : 'none'">Si è verificato un errore: {{serverMessage}}</label>
</p-panel>

