
<div *ngIf="operation">
    <h2><span jhiTranslate="dbFixerApp.operation.detail.title">Migration</span> {{operation.version}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dbFixerApp.operation.id">Id</span></dt>
        <dd>
            <span>{{operation.id}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.operation.buildId">BuildId</span></dt>
        <dd>
            <span>{{operation.buildId}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.operation.targetEnvType">EnvType</span></dt>
        <dd>
            <span>{{operation.targetEnvType}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.operation.customerId">CustomerId</span></dt>
        <dd>
            <span>{{operation.customerName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.operation.productId">ProductId</span></dt>
        <dd>
            <span>{{operation.productName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.operation.version">Version</span></dt>
        <dd>
            <span>{{operation.version}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.operation.actType">ActionType</span></dt>
        <dd>
            <span>{{operation.actType}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.operation.description">Description</span></dt>
        <dd>
            <span>{{operation.description}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.operation.scriptName">ScriptName</span></dt>
        <dd>
            <span>{{operation.scriptName}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.operation.author">Author</span></dt>
        <dd>
            <span>{{operation.author}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.operation.username">Username</span></dt>
        <dd>
            <span>{{operation.username}}</span>
        </dd>       
        <dt><span jhiTranslate="dbFixerApp.operation.applyDate">ApplyDate</span></dt>
        <dd>
            <span>{{operation.applyDate}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.operation.execTime">ExecTime</span></dt>
        <dd>
            <span>{{operation.execTime}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.operation.log">Log</span></dt>
        <dd>
            <span>{{operation.log}}</span>
        </dd>
         <dt><span jhiTranslate="dbFixerApp.operation.success">Success</span></dt>
        <dd>
            <span>{{operation.success}}</span>
        </dd>      
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

</div>
