
<div *ngIf="productversion">
    <h2><span jhiTranslate="dbFixerApp.productversion.detail.title">ProductVersion</span> {{productversion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="dbFixerApp.productversion.name">Name</span></dt>
        <dd>
            <span>{{productversion.name}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.productversion.description">Description</span></dt>
        <dd>
            <span>{{productversion.description}}</span>
        </dd>
        <dt><span jhiTranslate="dbFixerApp.productversion.product">Product</span></dt>
        <dd>
            <div *ngIf="productversion.product">
                <a [routerLink]="['/product', productversion.product?.id]">{{productversion.product?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'productversion/'+ productversion.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
