<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">DBFixer</h1>
        
        <p class="lead" jhiTranslate="home.subtitle">Powered by: Di.Tech</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can use your Active Directory credentials.<br/></span>
            </div>

            <!--  <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div> -->
        </div>

        <p jhiTranslate="home.question">
            More info: 
        </p>

        <!--<ul>-->
            <!--<li>--><a href="http://jiraconfluence.ditechsw.it:8090/display/MORE/DbFixer" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">DbFixer homepage</a><!--</li>-->
        <!--</ul>-->

    </div>
</div>
