<p-growl [(value)]="msgs"></p-growl>
<div>
    <h2>
        <span jhiTranslate="dbFixerApp.migration.home.title">Archivio</span>
    </h2>
    <jhi-alert></jhi-alert> 
</div>
<p-blockUI [blocked]="blockedDocument" [target]="pnl" [autoZIndex]="true" [baseZIndex]="1">
	<i class="fa fa-clock fa-5x" style="position:absolute;top:8%;left:50%"></i>
</p-blockUI>
<p-panel #pnl header="Panel Header">
	<p-dataTable [value]="migrations" [rows]="20" [paginator]="true"  paginatorPosition="both" [editable]="true" id="prezzoPerFormat" >
		  <p-headerColumnGroup>
		    <p-row>
		      <p-column header="Id" field="id" sortable="true" [filter]="false" ></p-column>
		      <p-column header="BuildId" field="buildId" sortable="true" [filter]="false" ></p-column>
		      <p-column header="Ambiente" field="targetEnvType" sortable="true" [filter]="false" ></p-column>
		      <p-column header="Cliente" field="customerName" sortable="true" [filter]="false" ></p-column>
		      <p-column header="Prodotto" field="productName" sortable="true" [filter]="false" ></p-column>		      
		      <p-column header="Versione" field="version" sortable="true" [filter]="false" ></p-column>
		      <p-column header="Azione" field="actType" sortable="true" [filter]="false" ></p-column>
		      <p-column header="Script" field="scriptName" sortable="true" [filter]="false" ></p-column>
		      <p-column header="Autore" field="username" sortable="true" [filter]="false" ></p-column>
		      <p-column header="Stato" field="success" sortable="true" [filter]="false" ></p-column>
		      <p-column header="Dettagli" field="dettagli" ></p-column>
		      <!--<p-footer>-->
		      <!--  <button pButton label="Enable filter" (click)="isFiltered = !isFiltered"></button>-->
		      <!--</p-footer>isFiltered-->
		    </p-row>
		    <p-row [style]="{'background-color':'#fff !important'}" style="backgroun-color: #FFF;">
		      <!--<p-column [style]="{'width':'170px'}" field="customerItemRefNo" [filter]="true">-->
		      <!--  <template pTemplate="filter" let-col>-->
		      <!--    <input type="text" class="customerClass" [(ngModel)]="itemList.custItemRefData" (keyup)="itemList.customerItemChange($event.target.value)" />-->
		      <!--  </template>-->
		      <!--</p-column>-->
		      <p-column [filter]="true" filterMatchMode="equals" field="id" id="id1" filterPlaceholder="Id..."></p-column>
		      <p-column [filter]="true" filterMatchMode="equals" field="buildId" id="buildId2" filterPlaceholder="BuildId..."></p-column>
		      <p-column [filter]="true" field="targetEnvType" filterMatchMode="contains" id="targetEnvType3" filterPlaceholder="Ambiente..."></p-column>
		      <p-column [filter]="true" field="customerName" filterMatchMode="contains" id="customerName4" filterPlaceholder="Cliente..."></p-column>
		      <p-column [filter]="true" field="productName" filterMatchMode="contains" id="productName5" filterPlaceholder="Prodotto..."></p-column>
		      <p-column [filter]="true" field="version" filterMatchMode="contains" id="version6" filterPlaceholder="Versione..."></p-column>
		      <p-column [filter]="true" field="actType" filterMatchMode="contains" id="actType7" filterPlaceholder="Azione..."></p-column>
		      <p-column [filter]="true" field="scriptName" filterMatchMode="contains" id="scriptName8" filterPlaceholder="Script..."></p-column>
			  <p-column [filter]="true" field="username" filterMatchMode="contains" id="username9" filterPlaceholder="Autore..."></p-column>		      
		   	  <p-column [filter]="true" field="success" filterMatchMode="contains" id="success10" filterPlaceholder="Stato..."></p-column>
		   	  <p-column></p-column>
		    </p-row>
  		</p-headerColumnGroup>
	   	<p-column field="id" [style]="{'width':'7%', 'text-align':'center'}"></p-column>
	    <p-column field="buildId" [style]="{'width':'7%', 'text-align':'center'}"></p-column>
	    <p-column field="targetEnvType" [style]="{'width':'7%', 'text-align':'center'}"></p-column>
	    <p-column field="customerName" [style]="{'width':'8%', 'text-align':'center'}"></p-column> 
	    <p-column field="productName" [style]="{'width':'8%', 'text-align':'center'}"></p-column> 
	    <p-column field="version" [style]="{'width':'8%', 'text-align':'center'}"></p-column> 
	    <p-column field="actType" [style]="{'width':'8%', 'text-align':'center'}"></p-column> 
	    <p-column field="scriptName" [style]="{'width':'25%', 'text-align':'left'}"></p-column>
	    <p-column field="username" [style]="{'width':'10%', 'text-align':'left'}"></p-column>
	    <p-column field="success" [style]="{'width':'8%', 'text-align':'center'}" ></p-column> 
	    <p-column styleClass="col-button" [style]="{'text-align':'center'}">
	        <ng-template pTemplate="header">
	            <div>Dettagli</div>
	        </ng-template>
	        <ng-template let-migration="rowData" pTemplate="body">
	            	<button type="submit"
	                        [routerLink]="['../migration2', migration.id ]"
	                        class="btn btn-info btn-sm">
	                      <span class="fa fa-eye"></span>        
	            	</button>                               
	        </ng-template>
	    </p-column>
	</p-dataTable> 
</p-panel>

